<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.mapper.BuyRecordMapper">

    <!--插入一条购买记录-->
    <insert id="save" parameterType="ssm.model.Buyrecord">

    INSERT into buyrecord (id,userid,goodsid,shouhuomsgid,date) values
    (#{id},#{userid},#{goodsid},#{shouhuomsgid},#{date})

</insert>

    <!--删除一条购买记录-->

    <delete id="delete" parameterType="ssm.model.Buyrecord">

        DELETE FROM buyrecord WHERE userid = #{userid}

    </delete>


    <!--查询一条购买记录-->
    <select id="selectone" parameterType="map" resultType="ssm.model.Buyrecord">

        select * FROM buyrecord WHERE userid = #{userid} and date = #{date}

    </select>

    <!--查询用户全部购买记录-->
    <select id="list_user" resultType="ssm.model.Buyrecord">

        SELECT  * FROM buyrecord WHERE userid = #{userid}

    </select>


    <!--查询一个用户购买记录的全部商品种类-->
    <select id="selecttype" parameterType="_int" resultType="java.lang.String">
         SELECT type FROM goods,buyrecord WHERE
        buyrecord.userid = #{userid}
   AND buyrecord.goodsid = goods.id
    </select>
    <!--查询某个种类的购买金额总额-->
    <select id="selectpaywithtype" parameterType="map" resultType="java.lang.Float">
    SELECT IFNULL(sum(price_sale),0) FROM goods,buyrecord WHERE goods.type = #{type}
    AND
     buyrecord.userid = #{userid}
    AND
     buyrecord.goodsid = goods.id
    </select>
    <!--查询用户购买记录总额-->
    <select id="selectAll" parameterType="_int" resultType="java.lang.Float">
        SELECT IFNULL(sum(price_sale),0) FROM goods,buyrecord WHERE
            buyrecord.userid = #{userid}
        AND
            buyrecord.goodsid = goods.id
    </select>
</mapper>