<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.mapper.GoodMapper">

    <delete id="delete" parameterType="ssm.model.goodimgs">
        delete from goods where id= #{id}
    </delete>

    <select id="get" parameterType="_int" resultType="ssm.model.goodimgs">
        select * from  goods  where id= #{id}
    </select>

    <select id="getbyname" parameterType="String" resultType="ssm.model.goodimgs">
        select * from  goods  where name= #{name}
    </select>

    <update id="update" parameterType="ssm.model.goodimgs" >
        update goods set name=#{name} where id=#{id}
    </update>

    <select id="list" resultType="ssm.model.goodimgs">
        select * from  goods
    </select>


    <insert id="save" parameterType="ssm.model.goodimgs" >
        insert into goods(name,price_before,price_sale,express,type,status,description)
        values (#{name},#{price_before},#{price_sale},#{express},#{type},#{status},#{description})
    </insert>


</mapper>